@font-face {
    font-family: 'Credit Card';
    src: url('CreditCard.woff2') format('woff2'),
        url('CreditCard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

